/* side bar*/

aside {
     padding: 2%;
     width: 35%;
     float: right;
     background-color: lightgreen;
}
aside h2 {
    margin-bottom: 0.4em;
}
aside p {
    margin: 0.4em 0;
}

.description aside p {
    left-margin: 1em;
}
