---
---

@import "{{ site.theme }}";

body, h1, h2, h3, h4 {
    color: white;
}

h1, h2, h3, h4 {
    color: white;
    font-family: "Playfair Display", serif;
}

#header_wrap {
    padding: 500, 0;
}

#main_content_wrap {
    background-color: black;
}


.btn {
    margin-top: 10px;
    padding: 20px;
    color: black;
    background-color: white;
}

#downloads {
    background-image: none;
}

h5 {
    text-align: right;
}